.menu {

	text-align: center;
	display: inline;
	background-color: #5a5a5a;
	padding-bottom: 40px;

}

nav {
	
	background-color: #5a5a5a;
	height: 70px;

}	

li {
	
	display: inline-block;
	padding-top: 15px;

}

li a {
	
	color: #FFF;
	text-decoration: none;

}

.item a{

	padding-right: 100px;
	font-size: 20px;
	font-family: 'Merriweather', serif;

}

.project {

	padding-right: 225px;
	font-size: 30px;
	font-family: 'Merriweather', serif;	

}

.category {

	padding-top: 12px;
	padding-bottom: 12px;

}

footer {

	text-align: center;

}

footer p{

	display: inline;

}

.category {

	padding-left: 300px;

}

.btn {

	border-radius: 6px;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	margin-left: 400px;

}
